In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
earthquake = pd.read_csv('./datasets/earthquakes.csv', 
                    index_col='date',
                    parse_dates=True)
earthquake = earthquake.drop(columns='Year')
earthquake

            earthquakes_per_year
date
1900-01-01                  13.0
1901-01-01                  14.0
1902-01-01                   8.0
1903-01-01                  10.0
1904-01-01                  16.0
...                          ...
1994-01-01                  15.0
1995-01-01                  25.0
1996-01-01                  22.0
1997-01-01                  20.0
1998-01-01                  16.0

[99 rows x 1 columns]

In [4]:
# Loop over p values from 0-2
for p in range(3):
    # Loop over q values from 0-2
    for q in range(3):
      
        try:
            # create and fit ARMA(p,q) model
            model = ARIMA(earthquake, order=(p,0,q))
            results = model.fit()
            
            # Print order and results
            print(p, q, results.aic, results.bic)
            
        except:
            print(p, q, None, None)

0 0 None None
0 1 None None
0 2 None None
1 0 None None
1 1 None None
1 2 None None
2 0 None None
2 1 None None
2 2 None None